@font-face {
            font-family: 'Emblema One';
            src: url("EmblemaOne-Regular.woff"),
                 url("EmblemaOne-Regular.ttf");
           }
body { 
      font-family: Verdana, Geneva, Arial, sans-serif; 
      font-size: small;
      }

h1, h2 {
        color: rgb(80%, 40%, 0%);
        border-bottom: thin dotted #888
       }

h1 { 
    font-family: 'Emblema One', sans-serif; 
    font-size: 220%;
   }

h2 {
    font-size: 130%;
    font-weight: normal
   }

blockquote {
            font-style: italic
           }

table {
	margin: 0px 20px;
	border: thin solid black;
	caption-side: bottom;
	/* border-spacing: 0px; */
	border-collapse: collapse;
	/* text-align: center; */
}

td, th {
	border: thin dotted gray;
	padding: 5px;
}

th {
	background-color: orange;
}

caption {
	font-style: italic;
	padding-top: 8px;	
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

/* tr:nth-child(2n+1) {
	background-color: #fcba7a;
} */

.cellcolor {
	background-color: #fcba7a;
}